@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
  text-decoration: none;
  color: inherit;
  list-style: none;
}

body {
  min-height: 100vh;
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about,
.blog {
  font-size: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* src/components/RecipeDetail.css */
